.container__navegacao {
    background-color: #e0e4ce;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;

}

.botao__menu {
    
}

.navegacao_titulo {
    color: #114d4d;
    font-size: 20px;
    font-weight: 700;
}

.navegacao__lista {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 69px;
    background-color: #e0e4ce;
    height: 8em;
    font-size: 20px;
    padding: 1em;
    color: #114d4d;
    font-weight: 500;
}

.item__inicio {
    display: none;
}

.item__login {
    display: none;
}